.slidecontainer {
    width: 100%;
    margin: auto;
    margin-top: 20px;
  }
  
  .eachslide > div {
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 320px;
  }
  
  .eachslide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  /* .sb_main{

  } */
  .top_main{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}